.d-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  width: 20%;
  height: calc(100% - 100px);
  border-right: 1px solid #dfdfdf;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user span {
  color: var(--black);
  font-size: 18px;
  font-weight: 500;
  margin: 5px 0;
}

.d {
  height: calc(100vh - 60px);
}

.dashboard {
  display: flex;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  flex-direction: row;
  height: 100%;
}

.d-right {
  width: calc(100% - 100px);
  padding: 50px;
}

.patients-top {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 12.5px;
}

.patient {
    display: flex;
    flex-direction: column;
    margin: 12.5px 0;
}
